Repository awsgcr/aws-infra, pull requests merged in 2024-01, with the labels that each got.

#44 update source code, update demo code
  prow/plugins.yaml
Labels: area/prow, size/XS, env/prod, approved

#45 update source code, update demo code
  prow/README.md
  prow/config.yaml
  prow/image/prow_microservice_architecture.png
  prow/jobs/project1/prowjob-demo.yaml
  prow/plugins.yaml
Labels: area/prow, env/prod, size/M, approved

#46 update source code, add job-config
  prow/prow_install_starter.yaml
Labels: area/prow, size/S, env/prod, approved

#47 update source code, add job-config
  prow/README.md
  prow/prow_install_starter.yaml
Labels: area/prow, env/prod, approved, size/L

#48 update source code, add job-config
  prow/README.md
  prow/prow_install_starter.yaml
  prow/secret/s3-credentials/s3-credentials
  prow/secret/s3-credentials/serviceaccount_prow_crier.yaml
  prow/secret/s3-credentials/serviceaccount_prow_deck.yaml
  prow/secret/s3-credentials/serviceaccount_prow_tide.yaml
  prow/secret/s3-credentials/serviceaccount_test-pods_crier.yaml
  prow/secret/s3-credentials/serviceaccount_test-pods_deck.yaml
  prow/secret/s3-credentials/serviceaccount_test-pods_tide.yaml
Labels: area/prow, env/prod, size/M, approved

#49 test open source go project demo
  app/gitops-prow-demo/main.go
  prow/secret/s3-credentials/serviceaccount_prow_statusreconciler.yaml
  prow/secret/s3-credentials/serviceaccount_test-pods_crier copy.yaml
  prow/secret/s3-credentials/serviceaccount_test-pods_statusreconciler.yaml
Labels: area/prow, size/S, env/prod, approved

#50 test open source go project demo
  prow/secret/s3-credentials/serviceaccount_test-pods_crier.yaml
Labels: area/prow, size/XS, env/prod, approved

#51 test open source go project demo
  prow/jobs/project1/prowjob-demo.yaml
  prow/prow_install_starter.yaml
Labels: area/prow, size/S, env/prod, approved

#52 test open source go projec
  app/gitops-prow-demo/main.go
  prow/config.yaml
Labels: area/prow, size/S, env/prod, approved

#53 add go project demo
  prow/config.yaml
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, size/S, env/prod, approved

#54 remove 中文
  prow/config.yaml
Labels: area/prow, size/XS, env/prod, approved

#55 test first go project
  app/gitops-prow-demo/main.go
  eks/project1/prod/gitops-prow/k8s/alb-ingress/internal-alb-ingress-nginx.yaml
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, size/XS, env/prod, approved

#56 update source code, golang project
  app/gitops-prow-demo/go.mod
  app/gitops-prow-demo/main.go
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, size/S, env/prod, approved

#57 add golang project unit testing
  prow/config.yaml
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, size/S, env/prod, approved

#58 add golang project unit testing
  app/gitops-prow-demo/main.go
  prow/config.yaml
Labels: area/prow, size/XS, env/prod, approved

#59 update source code, add unit testing
  prow/config.yaml
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, size/S, env/prod, approved

#61 update source code, add unit testing
  app/gitops-prow-demo/main.go
  prow/prow_install_starter.yaml
Labels: area/prow, env/prod, size/M, approved

#62 update source code, update README.md
  prow/README.md
Labels: area/prow, lgtm, env/prod, size/M, approved

#63 update source code, update job
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, lgtm, size/XS, env/prod, approved

#64 update source code, update config.yaml
  prow/config.yaml
Labels: area/prow, size/S, env/prod, approved

#66 update readme
  README.md
Labels: lgtm, approved

#67 Add eks_pod_identity
  eks/project1/prod/gitops-prow/addon/aws-eks-pod-identity/README.md
Labels: lgtm, size/M, approved

#68 Add eks_pod_identity
  eks/project1/prod/gitops-prow/addon/aws-managed-prometheus-agent/README.md
  eks/project1/prod/gitops-prow/addon/aws-managed-prometheus-agent/aws-managed-prometheus-agent-service-account.yaml
Labels: lgtm, approved, size/L

#69 update plugins.yaml
  prow/plugins.yaml
Labels: area/prow, size/XS, env/prod, approved

#70 update plugins.yaml
  prow/config.yaml
Labels: area/prow, size/S, env/prod, approved

#71 push demo code
  app/gitops-prow-demo/main.go
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, lgtm, size/XS, env/prod, approved

#72 push demo code
  app/gitops-prow-demo/go.mod
  app/gitops-prow-demo/main.go
Labels: size/XS, approved

#73 push demo sample code
  prow/jobs/project1/prowjob-demo2.yaml
Labels: area/prow, lgtm, size/S, env/prod, approved

#74 added two prowjob
  app/gitops-prow-demo/main.go
  prow/jobs/project1/prowjob-demo.yaml
  prow/jobs/project1/prowjob-demo2.yaml
Labels: area/prow, size/S, env/prod, approved

#75 update source code, run 2 prowjob
  app/gitops-prow-demo/main.go
Labels: lgtm, size/XS, approved

#76 add script
  prow/plugins.yaml
Labels: area/prow, size/S, env/prod, approved

#77 public demo, add helm-cli Dockerfile
  images/OWNERS
  images/README.md
  images/awscli-v2/alpline/Dockerfile
  images/awscli-v2/ubuntu/Dockerfile
  images/awscli-v2/ubuntu/library/install.sh
  images/prow-ci/Dockerfile
  images/prow-ci/library/.gemrc
  images/prow-ci/library/.gitconfig
  images/prow-ci/library/install.sh
  images/prow-ci/library/prow
  images/ubuntu/Dockerfile
Labels: lgtm, approved, size/L

#78 public demo, add helm-cli Dockerfile
  images/python3/Dockerfile
  images/python3/requirements.txt
Labels: size/S, approved

#79 public demo, add docker in docker
  images/prow-ci-dind/Dockerfile
  images/prow-ci-dind/library/.gitconfig
  images/prow-ci-dind/library/install.sh
  images/prow-ci-dind/library/prow
  images/prow-ci-dind/library/runner.sh
  images/prow-ci/Dockerfile
Labels: approved, size/L

#80 add prow-ci-dind Dockerfile
  images/prow-ci-dind/README
Labels: lgtm, size/XS, approved

#81 add prow-ci-dind Dockerfile, add --no-tty to fix the /dev/tty issue
  images/prow-ci-dind/Dockerfile
  images/prow-ci-dind/README
Labels: lgtm, size/XS, approved

#82 add shared-aws-config and s3-upload-pipeline
  images/prow-ci-dind/Dockerfile
  prow/config/aws-config/shared-aws-config
  prow/jobs/shared/prowjob-aws-s3-upload-pipeline.yaml
Labels: area/prow, lgtm, env/prod, size/M, approved

#83 add iam role policy for namespace test-pods
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/prowjob-iam-policy.json
Labels: lgtm, size/S, approved

#84 create prowjob-aws-iam-service-account-pipeline
  images/prow-ci/library/install.sh
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
Labels: area/prow, lgtm, env/prod, approved, size/L

#85 create prowjob-aws-iam-service-account-pipeline
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
  prow/jobs/shared/prowjob-aws-s3-upload-pipeline.yaml
Labels: area/prow, lgtm, size/XS, env/prod, approved

#86 create prowjob-aws-iam-service-account-pipeline
  prow/config.yaml
  prow/config/aws-config/project1-aws-config
Labels: area/prow, size/S, env/prod, approved

#87 update latels in postsubmits
  prow/README.md
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
Labels: area/prow, size/S, env/prod, approved

#88 update prow-ci base docker image, install jsonnet
  images/prow-ci/library/install.sh
Labels: lgtm, size/XS, approved

#89 update prow-ci base docker image, install jsonnet
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
  prow/jobs/shared/prowjob-aws-s3-upload-pipeline.yaml
Labels: area/prow, lgtm, size/XS, env/prod, approved

#90 update prow-ci base docker image, install jsonnet
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
Labels: area/prow, lgtm, size/XS, env/prod, approved

#91 update prow-ci base docker image, install jsonnet
  app/gitops-prow-demo/main.go
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/prowjob-iam-policy.json
  prow/jobs/project1/prowjob-demo3.yaml
Labels: area/prow, env/prod, size/M, approved

#92 update go project code
  app/gitops-prow-demo/main.go
  prow/jobs/project1/prowjob-demo3.yaml
Labels: area/prow, size/XS, env/prod, approved

#94 update go project source code
  app/gitops-prow-demo/main.go
  prow/jobs/project1/prowjob-demo3.yaml
Labels: area/prow, env/prod, size/M, approved

#98 fixed prowjob logs url
  prow/config.yaml
Labels: area/prow, lgtm, size/XS, env/prod, approved, needs-ok-to-test

#97 update go project code
  app/gitops-prow-demo/main.go
Labels: lgtm, size/XS, approved

#99 add kube-config
  prow/config/kube-config/all
Labels: area/prow, lgtm, env/prod, size/M, approved

#100 update prowjob iam sa oidc pipeline
  OWNERS
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
Labels: area/prow, size/XS, env/prod, approved

#101 update iam policy, try to trigger pipeline
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Labels: lgtm, size/XS, approved

#102 update config.yaml
  prow/config.yaml
Labels: area/prow, size/XS, env/prod, approved

#103 update iam-policy.json, try to trigger iam sa pipeline
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
  prow/config/aws-config/project1-aws-config
  prow/config/aws-config/shared-aws-config
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
Labels: area/prow, size/S, env/prod, approved

#104 remove key:config
  prow/plugins.yaml
Labels: area/prow, size/XS, env/prod, approved

#105 trigger aws-config
  prow/config/aws-config/project1-aws-config
  prow/config/aws-config/shared-aws-config
Labels: area/prow, size/XS, env/prod, approved

#106 Update plugins.yaml
  prow/plugins.yaml
Labels: area/prow, size/XS, env/prod, needs-ok-to-test

#108 Revert "Revert "trigger aws-config""
  prow/config/aws-config/project1-aws-config
  prow/config/aws-config/shared-aws-config
Labels: area/prow, env/prod, approved

#109 Revert "Revert "Revert "trigger aws-config"""
  prow/config/aws-config/project1-aws-config
  prow/config/aws-config/shared-aws-config
Labels: area/prow, env/prod, approved

#110 update go lang
  app/gitops-prow-demo/main.go
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, size/S, env/prod, approved

#111 update go code
  app/gitops-prow-demo/main.go
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, size/XS, env/prod, approved

#112 update go lang
  app/gitops-prow-demo/main.go
  prow/config.yaml
Labels: area/prow, env/prod, size/M, approved

#114 add go
  app/gitops-prow-demo/main.go
  prow/jobs/project1/prowjob-demo.yaml
Labels: area/prow, size/XS, env/prod, approved

#115 update go code
  app/gitops-prow-demo/main.go
  prow/README.md
  prow/config.yaml
  prow/jobs/project1/prowjob-demo2.yaml
  prow/jobs/project1/prowjob-demo3.yaml
  prow/jobs/project1/prowjob-demo4.yaml
Labels: area/prow, env/prod, size/M, approved

#116 update go project source code
  app/gitops-prow-demo/main.go
Labels: size/XS, approved

#117 add for-file, for-pr-files script
  prow/scripts/for-file
  prow/scripts/for-pr-files
  prow/scripts/parse-filename.py
Labels: area/prow, lgtm, env/prod, approved, size/L

#118 add aws_prod_eks_gitops_prow_pod_role
  prow/config/aws-config/project1-aws-config
  prow/config/aws-config/shared-aws-config
Labels: area/prow, size/XS, env/prod, approved

#119 update aws-config
  prow/config/aws-config/project1-aws-config
  prow/config/aws-config/shared-aws-config
Labels: area/prow, lgtm, size/S, env/prod, approved

#120 update prowjob iam sa
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
  prow/jobs/shared/prowjob-aws-s3-upload-pipeline.yaml
Labels: area/prow, lgtm, env/prod, approved

#121 update iam policy
  app/gitops-prow-demo/main.go
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Labels: lgtm, size/XS, approved

#122 update iam policy, and prowjob
  prow/config/aws-config/project1-aws-config
  prow/config/aws-config/shared-aws-config
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
Labels: area/prow, lgtm, size/S, env/prod, approved

#123 update iam policy
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Labels: lgtm, size/XS, approved

#124 update kube-cluster-config
  prow/config.yaml
  prow/config/k8s-deploy.yaml
  prow/plugins.yaml
Labels: area/prow, size/S, env/prod, approved

#126 trigger kube-config all
  prow/config/kube-config/all
Labels: area/prow, size/XS, env/prod, approved

#127 trigger iam-policy.json
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Labels: size/XS, approved

#128 update pr-files
  prow/scripts/for-file
Labels: area/prow, lgtm, size/XS, env/prod, approved

#129 trigger iam-policy.json
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Labels: approved

#130 update config.yaml
  prow/config.yaml
Labels: area/prow, lgtm, env/prod, size/M, approved

#131 trigger iam-policy.json
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Labels: size/XS, approved
